<div class="container mt-5">
  <div class="text-center">
    <h1>Gestao de Ocorrencias</h1>
  </div>
  <div class="row mt-5 justify-content-center">
    <!-- Card for Especies -->
    <a class="col-md-4 mb-4 card-link" routerLink="/especies">
      <div class="card h-100">
        <div class="card-body text-center">
          <h2 class="card-title">Especies</h2>
          <p class="card-text">Explore and manage Especies.</p>
        </div>
      </div>
    </a>

    <!-- Card for Tipos de ocorrencia -->
    <a class="col-md-4 mb-4 card-link" routerLink="/tiposOcorrencias">
      <div class="card h-100">
        <div class="card-body text-center">
          <h2 class="card-title">Tipos de Ocorrencia</h2>
          <p class="card-text">Explore and manage Tipos de Ocorrencia.</p>
        </div>
      </div>
    </a>
  </div>
</div>
