
 <section style="padding-top: 100px;">
   <p>Numero de especies: {{counter}}</p>
   <button class="btn btn-primary" (click)="toggleView()">{{ changeView ? '  Modo PobreSOS' : 'Modo WildSOS' }}</button>
    <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2 text-center">
           
             <h1 class="">Listas de Especies</h1>
          </div>
          <div class="col-md-2 text-left">
            <button type="button" class="btn btn-outline-danger btn-lg" id="create" #create (click)="openEspecieComponent(create)">Criar Especie</button>
          </div>
        </div>
      
        <div class="row">
          <div class="col-md-12">
            <ng-container [ngSwitch]="currentEspecieComponent">
              <app-create-especie *ngSwitchCase="'create-especie'"></app-create-especie>
              <div *ngSwitchDefault class="d-flex justify-content-center"></div>
            </ng-container>
          </div>
        </div>
      </div>
      
    <div *ngIf="changeView" class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-12 mb-3" *ngFor="let esp of especiesList" id="listEsp" class="tipo-row-content">
                <a [routerLink]="['/read-especie', esp.idEspecie]" class="text-decoration-none">
                    <div class="row">


                        <div class="col-md-2 align-items-center">
                            <img class="img-fluid" [src]="getImageSource(esp.especie1)"  alt="{{esp.idEspecie}}" />
                        </div>
                        <div class="col-md-2 d-flex justify-content-center align-items-center">
                            <div class="text-center">
                                <h5 class="fw-bolder">{{esp.idEspecie}}</h5>
                                <p>{{esp.classe}}</p>
                                
                                <p>{{esp.especie1}}</p>
                            </div>
                        </div>

                        <div class="col-md-8 d-flex justify-content-center align-items-center tipo-icons-container ">
                                                       
                            <div class="tipo-icons justify-content-center">
                                <a [routerLink]="['/read-especie', esp.idEspecie]" routerLinkActive="active" class="btn btn-outline-dark mt-auto">
                                    <img src="/assets/images/read.png" alt="Read Icon" class="img-fluid icon-image update-icon" style="width: 75px; height: 75px; margin: auto;" />
                                </a>
                            </div>


                            <div class="tipo-icons justify-content-center">
                                <a [routerLink]="['/update-especie', esp.idEspecie]" class="btn btn-outline-dark mt-auto">
                                    <img src="/assets/images/update.png" alt="Update Icon" class="img-fluid icon-image update-icon" style="width: 75px; height: 75px; margin: auto;" />
                                </a>
                            </div>
                            


                            <div class="tipo-icons justify-content-end">
                                <a [routerLink]="['/delete-especie', esp.idEspecie]" class="btn btn-outline-dark mt-auto">
                                    <img src="/assets/images/delete.png" alt="Delete Icon" class="img-fluid icon-image" style="width: 75px; height: 75px; margin: auto;" />
                                </a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>



  
        <table *ngIf="!changeView" class="container  align-items-center justify-content-center">
          <thead>
            <tr>
              <th>ID</th>
              <th>Especie</th>
              <th>Class</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let esp of especiesList" id="listTPO">
              <td >{{esp.idEspecie}}</td>
              <td>{{esp.especie1}}</td>
              <td>{{esp.classe}}</td>
              <td>
                <a [routerLink]="['/read-especie', esp.idEspecie]"><p>Read</p></a>
                <a [routerLink]="['/update-especie', esp.idEspecie]"><p>Update</p></a>
                <a [routerLink]="['/delete-especie', esp.idEspecie]"><p>Delete</p></a>
              </td>
            </tr>
          </tbody>
        </table>
      
      
</section>
<!-- 
 <div class="row">
     <div class=" col-sm-12 col-md-3 bg-warning text-dark p-5 mb-3 ">
         <button #list id="list"  class="nav-link mb-2" (click)="openComponent(list)">View all tipo-ocorrencias</button>
         <button #create  id="create" class="nav-link mb-2" (click)="openComponent(create)">Create tipo-ocorrencia</button>
         <button #update  id="update"  class="nav-link mb-2" (click)="openComponent(update)">Update tipo-ocorrencia</button>
         <button #delete  id="delete"  class="nav-link mb-2" (click)="openComponent(delete)">Delete tipo-ocorrencia</button>
         <button #read  id="read"  class="nav-link mb-2" (click)="openComponent(read)">read tipo-ocorrencia</button>
 
     </div>
 
     <div class=" col-sm-12 col-md-9 p-3 mb-3 ">
         <ng-container [ngSwitch] = "currentComponent">
             <app-list-tipo-ocorrencias *ngSwitchCase="'list-tipo-ocorrencias'"></app-list-tipo-ocorrencias>
             <app-update-tipo-ocorrencia *ngSwitchCase="'update-tipo-ocorrencia'"></app-update-tipo-ocorrencia>
             <app-create-tipo-ocorrencia *ngSwitchCase="'create-tipo-ocorrencia'"></app-create-tipo-ocorrencia>
             <app-read-tipo-ocorrencia *ngSwitchCase="'read-tipo-ocorrencia'"></app-read-tipo-ocorrencia>
             <app-delete-tipo-ocorrencia *ngSwitchCase="'delete-tipo-ocorrencia'"></app-delete-tipo-ocorrencia> 
             <div *ngSwitchDefault class="d-flex justify-content-center">
                 <img src="/assets/images/stock.png" alt="" class="img-fluid w-50">
             </div>
         </ng-container>
         
     </div>
 </div> -->

<!-- <div>
    <div>    
        <button type="button" class="btn btn-danger" id="create" #create (click)="openComponent(create)">Criar Tipo de Ocorrencia</button>
    </div>
    <div>
        <ng-container [ngSwitch]= "currentComponent">
            <app-create-tipo-ocorrencia *ngSwitchCase="'create-tipo-ocorrencia'"></app-create-tipo-ocorrencia>
            <div *ngSwitchDefault class="d-flex justify-content-center">
            </div>
        </ng-container>
    </div>
</div>


 <section>
    <h1>Lista de Tipos de Ocorrencia</h1>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let tpo of tipoOcorrenciaList">
                <div class="card h-100">
                   
                    <img class="card-img-top" [src]="getImageSource(tpo.descricao)" alt="..." />  
                   
                     <div class="card-body p-4">
                        <div class="text-center">
                          
                            <h5 class="fw-bolder">{{tpo.idTipoOcorrencia}} - {{tpo.descricao}}</h5>

                        </div>
                    </div> 
              
                     <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a [routerLink]="['/update-tipo-ocorrencia', tpo.idTipoOcorrencia]" routerLinkActive="active" class="btn btn-outline-dark mt-auto">update Tipo de ocorrencia</a></div>
                        <div class="text-center"><a [routerLink]="['/delete-tipo-ocorrencia', tpo.idTipoOcorrencia]" routerLinkActive="active" class="btn btn-outline-dark mt-auto">Delete Tipo de ocorrencia</a></div>
                        <div class="text-center"><a [routerLink]="['/read-tipo-ocorrencia', tpo.idTipoOcorrencia]" routerLinkActive="active" class="btn btn-outline-dark mt-auto">View Tipo de ocorrenciaDetails</a></div>
                    </div>
                </div>
            </div>

        </div> 
    </div>
</section> -->
