<!-- <app-list-especies></app-list-especies>
 -->

 <h1>Especies</h1>d

 <div class="row">
     <div class=" col-sm-12 col-md-3 bg-warning text-dark p-5 mb-3 ">
         <button #list id="list"  class="nav-link mb-2" (click)="openComponent(list)">View all especies</button>
         <button #create  id="create" class="nav-link mb-2" (click)="openComponent(create)">Create especie</button>
         <button #update  id="update"  class="nav-link mb-2" (click)="openComponent(update)">Update especie</button>
         <button #delete  id="delete"  class="nav-link mb-2" (click)="openComponent(delete)">Delete especie</button>
         <button #read  id="read"  class="nav-link mb-2" (click)="openComponent(read)">read especie</button>
 
     </div>
 
     <div class=" col-sm-12 col-md-9 p-3 mb-3 ">
         <ng-container [ngSwitch] = "currentComponent">
             <app-list-especies *ngSwitchCase="'list-especies'"></app-list-especies>
             <app-update-especie *ngSwitchCase="'update-especie'"></app-update-especie>
             <app-create-especie *ngSwitchCase="'create-especie'"></app-create-especie>
             <app-read-especie *ngSwitchCase="'read-especie'"></app-read-especie>
             <app-delete-especie *ngSwitchCase="'delete-especie'"></app-delete-especie>
             <div *ngSwitchDefault class="d-flex justify-content-center">
                 <img src="/assets/images/stock.png" alt="" class="img-fluid w-50">
             </div>
         </ng-container>
         
     </div>
 </div>