<form (submit)="create()">
    <div class="form-row">

        <!-- <div class="form-group mt-3">
            <label for="inputCode">ID Tipo de Ocorrencia</label>
            <input type="text" class="form-control" id="idTipoOcorrencia"  name="idTipoOcorrencia" [(ngModel)]="tipoOcorrencia.idTipoOcorrencia">
        </div> -->
        <div class="form-group mt-3">
            <label for="inputName">descricao</label>
            <input type="text" class="form-control" id="descricao" placeholder="Ambiental ..." name="Descricao" [(ngModel)]="tipoOcorrencia.descricao">
        </div>
        

        <button type="submit" class="btn btn-primary mt-3">Create</button>

    </div> 
  
</form>