<section>
    <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2 text-center">
            <h1 class="">Listas de Tipos de Ocorrencia</h1>
          </div>
          <div class="col-md-2 text-left">
            <button type="button" class="btn btn-outline-danger btn-lg" id="create" #create (click)="openComponent(create)">Criar Tipo de Ocorrencia</button>
          </div>
        </div>
      
        <div class="row">
          <div class="col-md-12">
            <ng-container [ngSwitch]="currentComponent">
              <app-create-tipo-ocorrencia *ngSwitchCase="'create-tipo-ocorrencia'"></app-create-tipo-ocorrencia>
              <div *ngSwitchDefault class="d-flex justify-content-center"></div>
            </ng-container>
          </div>
        </div>
      </div>
      
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-12 mb-3" *ngFor="let tpo of tipoOcorrenciaList" id="listTPO" class="tipo-row-content">
                <!-- Clickable row -->
                <a [routerLink]="['/read-tipo-ocorrencia', tpo.idTipoOcorrencia]" class="text-decoration-none">
                    <div class="row">
                        <!-- Left side with image, ID, and Descricao -->
                        <div class="col-md-2 align-items-center">
                            <img class="img-fluid" [src]="getImageSource(tpo.descricao)" alt="{{tpo.descricao}}" />
                        </div>
                        <div class="col-md-2 d-flex justify-content-center align-items-center">
                            <div class="text-center">
                                <h5 class="fw-bolder">{{tpo.idTipoOcorrencia}}</h5>
                                <p>{{tpo.descricao}}</p>
                            </div>
                        </div>

                        <!-- Right side with buttons -->
                        <div class="col-md-8 d-flex justify-content-center align-items-center tipo-icons-container ">
                                                        <!-- Read Button -->
                            <div class="tipo-icons justify-content-center">
                                <a [routerLink]="['/read-tipo-ocorrencia', tpo.idTipoOcorrencia]" class="btn btn-outline-dark mt-auto">
                                    <img src="/assets/images/read.png" alt="Read Icon" class="img-fluid icon-image update-icon" style="width: 75px; height: 75px; margin: auto;" />
                                </a>
                            </div>
                            <!-- Update Button -->
                            <div class="tipo-icons justify-content-center">
                                <a [routerLink]="['/update-tipo-ocorrencia', tpo.idTipoOcorrencia]" class="btn btn-outline-dark mt-auto">
                                    <img src="/assets/images/update.png" alt="Update Icon" class="img-fluid icon-image update-icon" style="width: 75px; height: 75px; margin: auto;" />
                                </a>
                            </div>
                            
                            <!-- Delete Button -->
                            <div class="tipo-icons justify-content-end">
                                <a [routerLink]="['/delete-tipo-ocorrencia', tpo.idTipoOcorrencia]" class="btn btn-outline-dark mt-auto">
                                    <img src="/assets/images/delete.png" alt="Delete Icon" class="img-fluid icon-image" style="width: 75px; height: 75px; margin: auto;" />
                                </a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
